<!-- Barra de navegación de Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Modificar href="#" por routerLink a raíz -->
    <a class="navbar-brand" routerLink="/">Games</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Botones a la derecha -> ml-auto -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- routerLinkActive -->
          <a class="nav-link" routerLinkActive="active" routerLink="/games">
            <!-- icono Bootstrap -->
            <i class="fas fa-gamepad"></i>
            Games</a>
        </li>
        <li class="nav-item">
          <!-- routerLinkActive -->
          <a class="nav-link" routerLinkActive="active" routerLink="/games/add">
            <!-- icono Bootstrap -->
            <i class="fas fa-plus-circle"></i>
            Add Game</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
