<!-- 6 columnas (2 de separación y 4 de ancho) -->>
<div class="col md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>

        <div class="form-group">
          <input type="text" name="title" placeholder="Escribe el título"
                 [(ngModel)]="game.title" class="form-control" autofocus>
        </div>

        <div class="form-group">
          <textarea name="description" placeholder="Descripción" rows="2"
                    [(ngModel)]="game.description" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <input type="url" name="image" [(ngModel)]="game.image" placeholder="Imágen" class="form-control">
        </div>
        <!-- BTN con ternario para guardar (si no existe el juego) o actualizar (si existe )-->
        <button class="btn btn-success btn-block" (click)="edit ? update() : saveNewGame()">
          GUARDAR CAMBIOS
        </button>

      </form>
    </div>
  </div>
</div>

<!-- En caso de no haber imágen, cargará no-image.png -->
<div class="col md-4">
  <div class="card card-body text-center">
    <img [src]="game.image == '' ? '/assets/images/no-image.jpg' : game.image" class="card-img-top" alt="Imágen del juego">
    <!-- Si el título es null ponemos 'Título del juego', si no, el título -->
    <h3>{{game.id}} {{game.title == '' ? 'Título del juego' : game.title}} </h3>
    <!-- Descripción (lo mismo) -->
    <p>{{game.description == '' ? 'Escribe tu descripción' : game.description}}</p>
    <!-- Fecha con formato -->
    <p>{{game.created_at | date: 'yyyy-MM-dd'}}</p>
  </div>
</div>
